<!DOCTYPE html>
<html lang="en">

<!--Poner el head-->
<%- include("partial/head.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
<body>
  <!--Poner eh header-->
  <%- include("partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <main>
    <!-- Empieza la seccion de los articulos-->
    <section> 
      <div class="slider"> <!--Fila 81 a la 109 es para el Slider-->
        <ul id="autoWidth" class="cs-hidden">
          <li class="item-a"> 
            <div class="slider-img">
              <img  src="/img/Imagen-principal.jpg">
            </div>
          </li>
          <li class="item-a"> 
            <div class="slider-img">
              <img  src="/img/nike-futbol-women.jpg">
            </div>
          </li>
          <li class="item-b">
            <div class="slider-img">
              <img src="/img/Real-Madrid.jpg">
            </div>
          </li>
          <li class="item-c">
            <div class="slider-img">
              <img src="/img/botas-adidas.jpg">
            </div>
          </li>
          <li class="item-d">
            <div class="slider-img">
              <img  src="/img/Puma-camisa.jpg">
            </div>
          </li>
          <li class="item-e">
            <div class="slider-img">
              <img  src="/img/R.jpg">
            </div>
          </li>
          <li class="item-a"> 
            <div class="slider-img">
              <img  src="/img/img-slider-women.jpg">
            </div>
          </li>
        </ul>
      </div>
      <div>
        <img class="img-section" src="/img/temporada.jpg">
      </div>
      <div class="tablet">
        <article>
          <div class="img-2">
            <img class="img-section" src="/img/pelota-adidas.jpg">
          </div>
          <p class="precio">$6999</p>
          <p class="descuento">10% off</p>
          <p>Pelota Adidas</p>
        </article>
        <article class="version-tablet">
          <img class="img-section" src="/img/pelota-penalty.jpg">
          <p class="precio">$7500</p>
          <p class="descuento">10% off</p>
          <p>Pelota Penalty</p>
        </article>
        <article class="version-tablet">
          <img class="img-section" src="/img/pelota-nike.jpg">
          <p class="precio">$7300</p>
          <p class="descuento">10% off</p>
          <p>Pelota Nike</p>
        </article>
      </div>
      <h3 class="title-section">Nuevas conquistas</h3>
      <div class="tablet">
        <div class="img-1">
          <img class="img-section" src="/img/Chicass.jpg">
        </div>
        <div>
          <img class="img-section" src="/img/chicos.jpg">
        </div>

      </div>
      
     
      <h3 class="title-section">Vamos Argentina</h3>
      <div class="tablet">
        <article class="camiseta-tablet">
          <div class="img-2">
            <img class="img-section" src="/img/Camiseta.jpg">
          </div>
          <p class="precio">$10000</p>
          <p class="descuento">10% off</p>
          <p>Camiseta Oficial</p>
        </article>

        <article>
          <img class="img-section" src="/img/Camiseta_Alternativa.jpg">
          <p class="precio">$8500</p>
          <p class="descuento">20% off</p>
          <p>Camiseta Alternativa</p>
        </article>
      </div>

      <div>
        <img class="img-section" src="/img/Mujer.jpg">
      </div>
      <h3 class="title-section">Encontra todo para el Arco</h3>
      <div class="tablet">
        <div class="img-3">
          <img class="img-section" src="/img/Guantes-adidas.jpg">
        </div>
        <div>
          <img class="img-section" src="/img/Guantes.jpg">
        </div>
      </div>
      <div class="tablet">
        <article>
          <div class="img-2">
            <img class="img-section" src="/img/botin-adidas2.jpg">
          </div>
          <p class="precio">$35000</p>
          <p class="descuento">20% off</p>
          <p>Botin Adidas</p>
        </article>
        <article class="version-tablet">
          <img class="img-section" src="/img/diadora.jpg">
          <p class="precio">$9000</p>
          <p class="descuento">20% off</p>
          <p>Botin Umbro</p>
        </article>
        <article class="version-tablet">
          <img class="img-section" src="/img/botin-puma.jpg">
          <p class="precio">$20000</p>
          <p class="descuento">20% off</p>
          <p>Botin Nike</p>
        </article>
      </div>

    </section>
  </main>
  <!--Empieza la parte de Footer-->
  <%- include("partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <script src="js/script.js" type="text/javascript"></script>

</body>

</html>