<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form action="/login" method="POST">
            <div>
                <label for="usuario">Nombre de Usuario</label>
                <input type="text" name="usuario" id="usuario" required>
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <h3>¿Olviidaste tu contraseña?</h3>
        <h2>Registrate</h2>
    </main>
    <footer>
</body>
</html>