<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apolo</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/98eaad93ae.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style-productDetail.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="header-content">
    <div class="main-header-top">
      <div class="truck">
        <i class="fas fa-truck"></i>
        <h2>Envios Gratis</h2>
      </div>
      <h2>Para Compras Mayores a $10000</h2>
    </div>

    <div class="main-header">
      <div class="main-header-top-bar">
        <span><a class="inicio" href="#">ACCEDER</a></span>
        <div>
          <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
            <!--lo traigo de font awesome-->
          </a>
        </div>
        <div class="apolo-logo">
          <img src="/img/logo_small-pelota.png" class="logo">
        </div>
        <div class="box-3">
          <form>
            <div class="barra">
              <input type="text" nombre="search-bar" placeholder="Que estas buscando?" class="search-bar-bar">
              <button type="submit" class="botton-form-login"><i class="fas fa-search"></i></button>
            </div>
          </form>
          <div class="main-buy">
            <div>
              <i class="fas fa-cart-arrow-down carrito"></i>
            </div>
            <h3 class="buy">Mi Compra</h3>
          </div>
        </div>
      </div>


      <nav class="main-navbar">
        <!--aca en esta fila genero una barra de vavegacion-->
        <ul class="navbar">
          <li><a href="#">HOMBRES</a></li>
          <li><a href="#">MUJERES</a></li>
          <li><a href="#">NUEVA TEMPORADA</a></li>
          <li><a href="#">MARCAS</a></li>
          <li><a href="#"> SUPER OFERTAS</a></li>
        </ul>

      </nav>
    </div>

  </header>
  <main>
    <section>
      
        <div class="hola">
          <div class="titulos">
            <img class="logo-adidas" src="/img/logo-adidas.png">
            <div>
              <h1 class="titulo-articulo">Botines Adidas Copa Sense.3 FG</h1>
            </div>
          </div>
        </div>
        <div class="section-main">
        <div class="conteiner-img">
        <div class="imagen-botin">
          <img class="img-botin-adidas" src="/img/Botin-adidas2.jpg">
        </div>

        <div class="box-box">
          <img class="img-botines-chicos" src="/img/botin-adidas-rojo3.jpg">
          <img class="img-botines-chicos" src="/img/botin-adidas-rojo.jpg">
          <img class="img-botines-chicos" src="/img/botin-adidas-rojo2.jpg">
        </div>
      </div>
      <div class="hola2">
        <div class="box-precio">
          <p class="precio">$ 35.000</p>
        </div>
        <div class="box-tarjeta">
          <p class="tarjeta">Calcula las cuotas con tu medio de pago<i class="far fa-credit-card"></i> <p class="tarjeta"></p>
            </p>
        </div>
        <div class="detalle-producto">
          <h4 class="nombre-producto">DETALLE</h4>
          <ul class="navbar">
            <li>Color : Red/Cloud white</li>
            <li>Sistema de atado de cordones</li>
            <li>Exterior de cuero</li>
            <li>Cuello elastico</li>
            <li>Suela para terreno firme</li>
          </ul>
          <div>
            <h2 class="talle">Seleccioná el talle</h2>
            <div class="talle2">
              <div class="box-box-lista">
                <label class="box-lista" class="talle2"><b>Talle</b></label>
                <select class="lista" name="talle" class="control">
                  <option value="...Niño">...Niño</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="Otros...">Otros...</option>
                </select>
              </div>
              <div class="botom">
                <button type="submit" title="Agregar al carrito" class="action primary tocart"
                  id="product-addtocart-button"><span>Agregar al carrito</span>
              </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  </main>
  <footer>
    <div class="footer">
      <div class="piedepagina">
        <section class="footer-top ">

          <h3 class="footer-h3">LOCALES MAS CERCANOS</h3>
          <h3>REGISTRATE PARA RECIBIR NOVEDADES</h3>

        </section>

        <section class="footer-botton">
          <h3>ACERCA DE APOLO</h3>
        </section>
      </div>
      <div class="all-icons">
        <i class="fab fa-facebook icons"></i>
        <i class="fab fa-twitter icons "></i>
        <i class="fab fa-youtube icons"></i>
        <i class="fab fa-instagram icons"></i>

      </div>
      <section class="privacity">
        <div>
          <span class="bloque">Argentina</span>
          <!--aca estoy transformando en elemento de bloques los span, porque si no me quedaba uno al lado del otro-->
          <span class="bloque">2021 Apolo, Inc. Todos los derechos reservados</span>
        </div>
        <div>
          <span class="bloque">Terminos de uso</span>
          <!--antes habia un parrafo y me lo tomaba como un bloque y no me dejaba que se posicione uno al lado de otro-->
          <span class="bloque">Politica de Privacidad</span>
        </div>
      </section>
    </div>
  </footer>
</body>

</html>