<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/98eaad93ae.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <div class="img-logo">
        <img src="/img/logo_small-pelota.png" alt="">
        </div>
    </header>
    <main>
        <section class="box-form-register">
            <form action="/regiser" method="POST" class="form-register">
                <div class="form-name">
                    <input type="text" name="name" placeholder="Nombre">
                </div>
                <div class="form-surname">
                    <input type="text" name="surname" placeholder="Apellido">
                </div>
                <div class="form-birth">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="date" name="birth">
                </div>
                <div class="form-email">
                    <input type="email" name="email" placeholder="Correo Electrónico">
                </div>
                <div class="form-pass">
                    <input type="password" name="pass" placeholder="Contraseña">
                </div>
                <button class="register-button">Registrarse</button>
            </form>
        </section>
        <section class="box-benefits">
            <h2 class="header-benefits">Unite a nosotros y obtené beneficios</h2>
            <ul class="list-benefits">
                <li>Recibí un 20% de descuento en tu primer compra</li>
                <li>Accedé a la venta de productos limitados</li>
                <li>Sumá puntos y canjealos por descuentos o productos</li>
                <li>Recibí y enterate de nuestras promociones y ofertas</li>
            </ul>
        </section>
    </main>
    
</body>
</html>