<!DOCTYPE html>
<html lang="en">

<!--Poner el head-->
<%- include("partial/head.ejs",{cssfile:"style"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
<body>
  <!--Poner eh header-->
  <%- include("partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
 
</body>

</html>