<!DOCTYPE html>
<html lang="en">

<!--Poner el head-->
<%- include("partial/head.ejs",{cssfile:"style"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
<body>
  <!--Poner eh header-->
  <%- include("partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
  <h1 class="about-me">ACERCA DE  NOSOTROS</h1>
  <div class="store-tablet">
  <div>
    <img class="img-section" src="/img/tienda.jpg">
  </div>
  <section class="section-store">
    <div>
    <h2 class="businnes">Nuestra Tienda</h2>
    <p class="description">Somos una empresa 100% nacional, con más de 10 años de trayectoria en la comercialización de calzado e indumentaria deportiva de Football.</p>
     <p class="description"> Nuestra redes de distribucion se realiza a traves de nuestra tienda fisica como  a través del e-comerce, donde llegamos a satisfacer las necesidades de nuestros clientes en todo el país.
      </p>
      <p class="description"> Visitanos a traves de nuestra pagina web o en nuestro local ubicado en diagonal 74 Numero 1550 La Plata</p>
    </div>
    <div class="our-client">
      <h2 class="businnes">Nuestro Publico</h2>
    <p class="description">Nos dirigimos a deportista tanto amateur como profesionales proporcionandoles todos la indumentaria necesaria para juagar al Football .</p>
    </div>
  </section>
  
 </div>



  <!--Empieza la parte de Footer-->
  <%- include("partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
</body>

</html>