*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
}

@media(min-width:320px) {
.header-content{
    position: sticky;/* aca fijo el header*/
    top: 0;/* aca le digo al header que quede bien arriba*/
    width: 100%;/* aca le digo al contenedor que tome todo el ancho disponible*/
    z-index: 1;/* es para que el header se posicione por adelante de los demas elementos y se visualice al scroolear*/
}
.slider{
    display: flex;/* me acomoda cada imagen del slider en forma horizontal*/
}
.slider-img{ /* aca estoy defiendo el alto y ancho del contenedor del slider para que las imagenes tengan el mismo tamaño*/
   width: 380px;
   height: 300px;
}
.slider-img img{ /* aca las img tomen el 100% del tamaño de su contenedor*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-danger{
    color: red;
}
.main-header-top{
    background-color:#25ced1;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-header-top h2{
    font-size: 10px;
    color: white;
    text-align: center;
    display: block;
    margin-left: 10px;   
}
.botton-form-login {
    background-color:#25ced1;
    border: none;
    padding: 5px 10px;
    font-style: oblique;
    color: #FFFF;
    border-radius: 5px;
    margin-right: 5px;
}
.inicio{
    display: none;
}
.truck{
    font-size: 15px;
    padding-bottom: 3px;
    width: 100%;
    color: green;
    display: flex;
    justify-content: center;
}
.main-header{
    background-color: #EA526F;
}
.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.box-3{
    display: flex;
}
.search-bar{
    display: flex;
}
.search-bar-bar{
    display: none;
   
}
.buy{
    display: none;
}
.logo{
    width: 140px;
    animation: aumentar 1s linear 5 alternate;
}
.lupa{
    display: block;
    color: #25ced1;
    margin-right: 10px;
    font-size: 20px;
}
.carrito{
    color:#25ced1;
    font-size: 25px;
    margin-right: 10px;  
}
.navbar li a{
    transition: all 450ms; /* de esta forma al dar click sobre la barra de navegacion el cambio no se refleja de forma abrupta*/

}
.navbar li a:hover{
    
    color: #25ced1;
   
}
.bar-btn{
    display: block;
    font-size: 30px;
    color: #25ced1;
    margin-left: 0px;
}
.nav-menu{
    position: fixed;
    height: 0%;
    width: 100%;
    top: 100px;
    
    transition: all .5s;

}
.nav-menu li {
    display: none;
    line-height: 30px;
    margin: 10px 0;
    transition: all .5s;
}
.nav-menu li a {
  color: #FFF;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  background-color:#EA526F;

}
.nav-menu li a.active, .nav-menu li a:hover{
    color: #25ced1;
    transition: .3s;
}
#check:checked ~ .nav-menu{
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
.check{
    display: none;
}

.main-navbar{
    display: none
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.img-logo {
    display: flex;
justify-content: center;
align-items: center;
}

/* MAIN */

.profile-container{
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #25CED1;
    margin: 70px 10px 70px 10px;
    padding: 10px;
    flex-direction: column-reverse;
    align-items: center;
}


.box-avatar{
width: 50%;

}

.img-avatar{
    max-width: 100%;
    border-radius: 50%;
}
.button-conteiner{
    margin-top: 10px;
    text-align: center;  
}
.edit-button{
    background-color: #FCEADE;
    padding: 5px;
    border: none;
}
.edit-button button{
    border: none;
}

/* footer */
.footer{
    background-color:#EA526F;
    padding-top: 10px;
}
.footer h3 {
    font-size: 15px;
    color:white;
    padding-left: 10px;
}
.footer-botton{
    border-top:  solid 0.5px whitesmoke;
    display: block; /* si no le pongo este display block no me toma el border-top*/
    margin-top: 15px;
}
.privacity{
    color: white;
    font-size: 15px;

    padding-left: 10px;
}
.all-icons{
    margin-top: 15px ;
}
.icons{
    font-size: 25px;
    margin-bottom: 20px;
}
.bloque{
    display: block;/* como el span es un elemento de linea lo paso a bloque para que me quede uno abajo del otro*/
}
.search-bar-bar{
    display: none;
}
.buy{
    display: none;
}

}
@media(min-width:768px) {
    body {
        height: 100vh;
    }

    main {
        height: 80%;
    }
    
    .main-header-top{
        display: flex;
        justify-content: center ;
    }
    .main-header-top h2{
        font-size: 15px;
    } 
    .box-3{
        display: flex;
        justify-content: space-between;
    }
    .inicio{
        text-decoration: none;/* le saco el subrrayado al enlace*/
        color:white;
        display: block; /* con este display hago que aparezca el inicio*/
        margin-left: 20px;
    }
    .nav{
        display: none;
    }
    .apolo-logo{
        display: flex;
        justify-content: center;
    }
    .lupa{
        font-size: 20px;
    }
    .search-bar-bar{
        border-radius: 5px;
        text-align: center;
        display: block;
    }
    .barra{
        display: flex;
    }
    .control{
        text-align: center;
    }
    .main-buy{
      display: flex;  
      margin-left: 5px;
    }
    .buy{
        display: block;
        margin-right: 10px;  
        color: white; 
    }
    .hamburger-button{
        display: none;
    }  
   
    .main-navbar{
        display: block; /* me trar la barra de navegacion que la habia ocultado mas arriba*/
        background-color: #FCEADE;
        display: flex;
        padding: 4px;
        
    }
    .main-navbar a{
        text-decoration: none; /* le saco el subrrayado a los enlaces*/
    }
    .main-navbar ul {
        display: flex; /* aca me pone las lista una al lado de la otra*/   
        width: 100%;
        justify-content: space-around;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar ul li a { /* agrando el tamano de la letra de la barra de navegacion*/
        font-size: 15px;
    } 

    /* MAIN */

    .profile-container{
        flex-direction: row-reverse;
        width: 600px;
        justify-content: space-between;
    }
    .box-datos{
        padding-left: 10px;
    }

    /*footer*/
    .footer{
        background-color:#EA526F;
        padding-top: 20px;
    }
    .piedepagina{
        display: flex;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        
    }
    .footer-botton{
        display: flex;
        flex-direction: column;
        border: none;
    }
    
    .footer-botton h3{
        color: white;
        margin:0;
        font-size: 15px;
        
    }
    .footer-top h3{
        margin: 0 10px;
        font-size: 15px;
        color: white;
    }
    .privacity {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .privacity span{
        margin: 0 10px; /* separo los p*/
    }
    .bloque{
        display: inline;/* me lo convierte de bloque a linea*/
    }
    .all-icons{
        margin: 5px 20px;
        display: flex;
        justify-content: end; /* aca llevo los iconos como faceebook,twiter al final a la derecha*/
}
   .icons{
    margin:0 10px
}
}

@media (min-width: 1024px) {
}