/* #EA526F paradise pink
#FF8A5B coral
#FCEADE linen 
#FFFFFF white 
#25CED1 turqoise */

*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

/* Header */

.header-content{
    position: sticky;/* aca fijo el header*/
    top: 0;/* aca le digo al header que quede bien arriba*/
    width: 100%;/* aca le digo al contenedor que tome todo el ancho disponible*/
    z-index: 1;/* es para que el header se posicione por adelante de los demas elementos y se visualice al scroolear*/
}
.slider{
    display: flex;/* me acomoda cada imagen del slider en forma horizontal*/
}
.slider-img{ /* aca estoy defiendo el alto y ancho del contenedor del slider para que las imagenes tengan el mismo tamaño*/
   width: 200px;
   height: 300px;
}
.slider-img img{ /* aca las img tomen el 100% del tamaño de su contenedor*/
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-header-top{
    background-color:#25ced1;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-header-top h2{
    font-size: 10px;
    color: white;
    text-align: center;
    display: block;
    margin-left: 10px;   
}
.inicio{
    display: none;
}
.truck{
    font-size: 15px;
    padding-bottom: 3px;
    width: 100%;
    color: green;
    display: flex;
    justify-content: center;
}
.main-header{
    background-color: #EA526F;
}
.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.box-3{
    display: flex;
}
.search-bar{
    display: flex;
}
.buy{
    display: none;
}
.logo{
    width: 140px;
    animation: aumentar 1s linear 5 alternate;
}
.lupa{
    display: block;
    color: #25ced1;
    margin-right: 10px;
    font-size: 20px;
}
.carrito{
    color:#25ced1;
    font-size: 25px;
    margin-right: 10px;  
}
.navbar li a{
    transition: all 450ms; /* de esta forma al dar click sobre la barra de navegacion el cambio no se refleja de forma abrupta*/

}
.navbar li a:hover{ /* con este pseudo selector hago que cuando te posicion sobre los elementos de la barra cambien de color*/
    color: #25ced1;
}
.hamburger-button{
    display: block;
    font-size: 30px;
    color: #25ced1;
    margin-left: 0px;
}

.main-navbar{
    display: none
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}
.main-navbar a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

/* Main */

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.title-login {
    color:linen ;
    margin: 10px;
}

main {
    height: 75%;
}

.box-form {
    width: 100%;
    background-color:#25CED1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px 0px;
    height: 100%;
}

.form-login {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    width: 85%;
    max-width: 425px;
}

input {
    border-radius: 5px;
    border: none;
}

.usuario input{
    width: 100%;
}

.pass input {
    width: 100%;
}


.usuario label {
    display: block;
    color: linen;
    margin-bottom: 5px;
}


.pass label {
    display: block;
    color: linen;
    margin-bottom: 5px;
}

.remember {
    color: linen;
}

.boton {
    border-radius: 5px;
    line-height: 1.5;
    cursor: pointer;
}

.boton:hover {
    background-color: #e4e3e3;
}

.forgot-pass a{
    color: linen;
    font-size: 14px;
    font-weight: 400;
}
.register {
    border-radius: 5px;
    background-color: coral;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
} 
.register:hover {
    background-color: rgb(245, 118, 71);
    box-shadow: 1px 1px 2px #888888;
}

.register a {
    color: linen;
    text-decoration: none;
}

/* footer*/

.footer{
    background-color:#EA526F;
    padding-top: 10px;
}
.footer h3 {
    font-size: 15px;
    color:white;
    padding-left: 10px;
}
.footer-botton{
    border-top:  solid 0.5px whitesmoke;
    display: block; /* si no le pongo este display block no me toma el border-top*/
    margin-top: 15px;
}
.privacity{
    color: white;
    font-size: 15px;

    padding-left: 10px;
}
.all-icons{
    margin-top: 15px ;
}
.icons{
    font-size: 25px;
    margin-bottom: 20px;
}
.bloque{
    display: block;/* como el span es un elemento de linea lo paso a bloque para que me quede uno abajo del otro*/
}
.barra{
    display: none;
}
.buy{
    display: none;
}

@media (min-width:361px) {
    
}

@media(min-width:768px) {
    .main-header-top{
        display: flex;
        justify-content: center ;
    }
    .main-header-top h2{
        font-size: 15px;
    } 
    .box-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60px;
    }
    .inicio{
        text-decoration: none;/* le saco el subrrayado al enlace*/
        color:white;
        display: block; /* con este display hago que aparezca el inicio*/
        margin-left: 20px;
    }
    .apolo-logo{
        display: flex;
        justify-content: center;
    }
    .lupa{
        font-size: 20px;
    }
    .search-bar-bar{
        display: block;
        min-width: 200px;
    }
    .barra{
        display: flex;
    }
    .control{
        text-align: center;
    }
    .main-buy{
      display: flex;  
    }
    .buy{
        display: block;
        margin-right: 10px;  
        color: white; 
    }
    .hamburger-button{
        display: none;
    }  
   
    .main-navbar{
        display: block; /* me trar la barra de navegacion que la habia ocultado mas arriba*/
        background-color: #FCEADE;
        display: flex;
        justify-content: space-evenly;/* aca me separa las listas pero me queda una bien a la izquierda y la otra a la derecha pero de arriba*/
    }
    .main-navbar a{
        text-decoration: none; /* le saco el subrrayado a los enlaces*/
    }
    .main-navbar ul {
        display: flex; /* aca me pone las lista una al lado de la otra*/  
        justify-content: space-around; 
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar ul li a { /* agrando el tamano de la letra de la barra de navegacion*/
        font-size: 15px;
    } 

    /* footer*/

    .footer{
        background-color:#EA526F;
        padding-top: 20px;
    }
    .piedepagina{
        display: flex;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        
    }
    .footer-botton{
        display: flex;
        flex-direction: column;
        border: none;
    }
    
    .footer-botton h3{
        color: white;
        margin:0;
        font-size: 15px;
        
    }
    .footer-top h3{
        margin: 0 10px;
        font-size: 15px;
        color: white;
    }
    .privacity {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .privacity span{
        margin: 0 10px; /* separo los p*/
    }
    .bloque{
        display: inline;/* me lo convierte de bloque a linea*/
    }
    .all-icons{
        margin: 5px 20px;
        display: flex;
        justify-content: end; /* aca llevo los iconos como faceebook,twiter al final a la derecha*/
}
   .icons{
    margin:0 10px
    }
}

@media(min-width:1024px) {
    .lupa{
        display: block;  
        font-size: 20px;
    }
    .barra{
        font-size: 20px;
    }
    .main-header-top h2{
        font-size: 15px;
    }
   
}