/* #EA526F paradise pink
#FF8A5B coral
#FCEADE linen 
#FFFFFF white 
#25CED1 turqoise */

*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title-login {
    border: solid red 1px;
    color:linen ;
}

.box-form {
    width: 100%;
    background-color:#25CED1 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.form-login {
    border: solid red 1px;
    display: flex;
    flex-direction: column;
}

.usuario {
    border: solid red 1px;
}

.pass {
    border: solid red 1px;
}

.remember {
    border: solid red 1px;
    color: linen;
}

.boton {
    border: solid red 1px;
}

.forgot-pass {
    border: solid red 1px;
    
    
}
.forgot-pass a{
    color: linen;
    font-size: 14px;
}
.register {
    border: solid red 1px;
}
.register a {
    color: linen;
}

