*{
    box-sizing: border-box;  /* es para que al agregar propiedades como el paddin,border no me aumento el tamaño de la pagina*/
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 94px;/* le doy el relleno que sea superior al tamano del header para que las imagenes del secction no se metan en el header*/
}
/*--------------------------------------------------------------------------*/
/* HEADER*/
@media (min-width: 320px){
.header-content{
    position: fixed;/* aca fijo el header*/
    top: 0;/* aca le digo al header que quede bien arriba*/
    width: 100%;/* aca le digo al contenedor que tome todo el ancho disponible*/
    z-index: 10;
}
.main-header-top{
    background-color:#25ced1;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-header-top h2{
    font-size: 10px;
    color: white;
    text-align: center;
    display: block;
    margin-left: 10px;   
}
.inicio{
    display: none;
}
.truck{
    font-size: 15px;
    padding-bottom: 3px;
    width: 100%;
    color: green;
    display: flex;
    justify-content: center;
}
.main-header{
    background-color: #EA526F;
}
.main-header-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.box-3{
    display: flex;
}
.search-bar{
    display: flex;
}
.buy{
    display: none;
}
.logo{
    width: 140px;
    animation: aumentar 1s linear 5 alternate;
}
.lupa{
    display: block;
    color: #25ced1;
    margin-right: 10px;
    font-size: 20px;
}
.carrito{
    color:#25ced1;
    font-size: 25px;
    margin-right: 10px;  
}
.navbar li a{
    transition: all 450ms; /* de esta forma al dar click sobre la barra de navegacion el cambio no se refleja de forma abrupta*/

}
.navbar li a:hover{ /* con este pseudo selector hago que cuando te posicion sobre los elementos de la barra cambien de color*/
    background-color:#25ced1;
    color: white;
    border-radius: 50%;
    opacity: 1;
}
.hamburger-button{
    display: block;
    font-size: 30px;
    color: #25ced1;
    margin-left: 0px;
}


@keyframes aumentar{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.main-navbar{
    display: none
}
.main-navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navbar a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
}
}
/*--------------------------------------------------------------------------*/
/* FOOTER*/
.footer{
    background-color:#EA526F;
    padding-top: 10px;
}
.footer h3 {
    font-size: 15px;
    color:white;
    padding-left: 10px;
}
.footer-botton{
    border-top:  solid 0.5px whitesmoke;
    display: block; /* si no le pongo este display block no me toma el border-top*/
    margin-top: 15px;
}
.privacity{
    color: white;
    font-size: 15px;

    padding-left: 10px;
}
.all-icons{
    margin-top: 15px ;
}
.icons{
    font-size: 25px;
    margin-bottom: 20px;
}
.bloque{
    display: block;/* como el span es un elemento de linea lo paso a bloque para que me quede uno abajo del otro*/
}
.barra{
    display: none;
}
.buy{
    display: none;
}
@media(min-width:768px) {
    .main-header-top{
        display: flex;
        justify-content: center ;
    }
    
    .main-header-top h2{
        font-size: 15px;
    } 
    .box-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60px;
    }
    .inicio{
        text-decoration: none;/* le saco el subrrayado al enlace*/
        color:white;
        display: block; /* con este display hago que aparezca el inicio*/
        margin-left: 20px;
    }
    .apolo-logo{
        display: flex;
        justify-content: center;
    }
    .lupa{
        font-size: 20px;
    }
    .barra{
             display: block; /* hago que se mustre la barra que la habia ocultado con display:none*/   
    }
    .control{
        text-align: center;
    }
    .main-buy{
      display: flex;  
    }
    .buy{
        display: block;
        margin-right: 10px;   
    }
    .hamburger-button{
        display: none;
    }  
   
    .main-navbar{
        display: block; /* me trar la barra de navegacion que la habia ocultado mas arriba*/
        background-color: #C8C6D7;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;/* aca me separa las listas pero me queda una bien a la izquierda y la otra a la derecha pero de arriba*/
    }
    .main-navbar a{
        text-decoration: none; /* le saco el subrrayado a los enlaces*/
    }
    .main-navbar ul {
        display: flex; /* aca me pone las lista una al lado de la otra*/   
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar ul li a { /* agrando el tamano de la letra de la barra de navegacion*/
        font-size: 15px;
    } 
    .footer{
        position: fixed;
        bottom: 0px;
        width: 100% /*el position absolute no deja que el footer tomo todo el ancho por eso le doy el 100%*/;
    }
}/*--------------------------------------------------------------------------*/
 /* FOOTER */
    .footer{
        background-color:#EA526F;
        padding-top: 20px;
    }
    .piedepagina{
        display: flex;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        
    }
   
    .footer-botton{
        display: flex;
        flex-direction: column;
        border: none;
    }
    
    .footer-botton h3{
        color: white;
        margin:0;
        font-size: 15px;
        
    }
    .footer-top h3{
        margin: 0 10px;
        font-size: 15px;
        color: white;
    }
    .privacity {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
    .privacity span{
        margin: 0 10px; /* separo los p*/
    }
    .bloque{
        display: inline;/* me lo convierte de bloque a linea*/
    }
    .all-icons{
        margin: 5px 20px;
        display: flex;
        justify-content: end; /* aca llevo los iconos como faceebook,twiter al final a la derecha*/
}
   .icons{
    margin:0 10px
}

@media(min-width:1024px) {
    .lupa{
        display: block;  
        font-size: 20px;
    }
    .barra{
        font-size: 20px;
    }
    .main-header-top h2{
        font-size: 15px;
    }
   
    .main-navbar ul li a { /* agrando el tamano de la letra de la barra de navegacion*/
        font-size: 25px;
}
}/*--------------------------------------------------------------------------*/
/*section*/
.imagen-principal{
width: 97%;
}

.img-botin-adidas{
width: 100%;
padding-left: 1%;
}
.box-box{
    display: flex;
    position: relative;
    left: 1%;
    padding-top: 0%;
}

.img-botines-chicos{
    width: 26%;
    position: relative;
    left: 10%;
    padding-left: 1.2%;
    padding-top: 0%;
    border: none;
    padding-right: 1.2%;
}

.img-botines-chicos:hover{
    width: 26%;
    position: relative;
    left: 10%;
    padding-left: 1.2%;
    padding-top: 0%;
    border: solid #EA526F 1px;
    padding-right: 1.2%;
}
.logo-adidas{
    padding-top: 27px;
    width: 11%;
    padding-bottom: 2px;
    padding-left: 5px;
}
.titulo-articulo{
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
    padding-top: 19px;
    
}
.precio{
    padding-left: 2%;
    padding-top: 4%;
    font-size: x-large;
}

.box-precio{
    width: 50%;
}

.box-tarjeta{
    width: 100%;
}

.tarjeta:hover{  /*Le puse subrayado al acerdacar el click*/
    text-align: center;
    padding-top: 1%;
    text-decoration: underline;
    color: #006bb4;
}

.tarjeta{
    color: #2cbf2e;
    text-align: center;
    padding-top: 1%;
    text-decoration: none;
}

i.far.fa-credit-card{
    padding-left: 2%;
}

.nombre-producto{
    padding-top: 4%;
    padding-left: 1.5%;
}

.descripcion-producto{
    text-align: center;
}

.talle{
    text-align: center;
    padding-top: 2%;
    text-decoration: underline;
}
.box-box-lista{
    padding: 2%
}

.box-lista{
    font-size: large;
}

.lista{
    width: 14%;
    height: 30px;
}


#product-addtocart-button { /*boton de carrito*/
    background-color: #009946;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    border-color: #009946;
    padding: 14px 30px;

}

.botom { /*boton de carrito*/
    text-align: center;
    padding-bottom: 5px;
}

@media(min-width:768px){
    .section-main{
        display: flex;
        justify-content: space-between;
        border: solid 1px red;
    }
    .conteiner-img{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
.imagen-botin{
    display: flex;
}
.hola{
   border: solid 1px green;
   display: flex;
}
.imagen-botin-adidas .logo-adidas {
    display: flex;
}

.titulos {
   display: flex;
   text-align: center;
   justify-content: space-between;
}

.img-botin-adidas {
    padding-left: 1%;
    height: 180px;
    object-fit: cover;
}

.box-box {
    display: flex;
    left: 1%;
}

#product-addtocart-button { /*boton de carrito*/
    background-color: #009946;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    border-color: #009946;
    padding: 14px 30px;
    margin: 1%;
}

}   

@media(min-width:1024px) {
    .img-botin-adidas {
        padding-left: 1%;
        height: 299px;
        object-fit: cover;
    }
    .titulo-articulo {
        text-align: center;
        text-decoration: underline;
        font-size: 26px;
        padding-top: 36px;
    }
    .detalle-producto{
        font-size: 20px;
    }
}