<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apolo</title>
        <script src="https://kit.fontawesome.com/98eaad93ae.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <%- include("../partial/head.ejs",{cssfile:"style-login"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
    </head>
  <%- include("../partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
    <main>
        <section class="box-form">
            <h1 class="title-login">Iniciar Sesión</h1>
            <form action="/user/login" method="POST" class="form-login">
                <div class="usuario">
                    <label for="usuario">Usuario</label>
                    <input type="email" name="email" id="usuario"  required>
                </div>
                <div class="pass">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password"  required>
                </div>
                <div class="remember">
                        <input type="checkbox" name="rememberMe">
                        <label for="rememberMe">Recordar sesión</label>
                </div>
                <button type="submit" class="boton">Iniciar sesión</button>
            </form>
            <h3 class="forgot-pass"><a href="">¿Olvidaste tu contraseña?</a></h3>
            <h2 class="register"><a href="register">Registrarse</a></h2>
        </section>
    </main>
    <%- include("../partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
</body>
</html>