<!DOCTYPE html>
<html lang="en">
 
  <%- include("../partial/head.ejs",{cssfile:"style-createProduct"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
<body>
    <%- include("../partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->

    <form action="/product/productList" method="POST" class="create-form" enctype="multipart/form-data">
        <div class="control-formulario">
         <label>Nombre del Producto:</label>
         <input type="text" name="name" placeholder="nombre producto" class="control"> <!--el atibuto name es de para una mejor identificacion del Backend-->
        </div>
        <div class="control-formulario">
          <label>Precio:</label>
          <input type="number" name="price" class="control">
         </div>
         <div class="control-formulario">
          <label>Descuento:</label>
          <input type="number" name="discount" class="control">
         </div>
           <div class="control-formulario"> <!--este campo contiene el menu desplegable-->
             <label>Genero:</label> 
              <select name="gender" class="control"> <!--el name es solo para el Backend-->
               <option value="Hombre">Hombre</option> <!--el value es para q el backend identifique de que se trata-->
               <option value="Mujer">Mujer</option>
              </select>
           </div>
           <div class="control-formulario"> <!--este campo contiene el menu desplegable-->
            <label>Categoria:</label> 
             <select name="category" class="control"> <!--el name es solo para el Backend-->
              <option value="botines">Botines</option> <!--el value es para q el backend identifique de que se trata-->
              <option value="remeras">Remeras</option>
              <option value="pelotas">Pelotas</option> 
             </select>
          </div>
          <div class="control-formulario"> <!--este campo contiene el menu desplegable-->
            <label>Marca:</label> 
             <select name="brand" class="control"> <!--el name es solo para el Backend-->
              <option value="Adidas">Adidas</option> <!--el value es para q el backend identifique de que se trata-->
              <option value="Nike">Nike</option>
              <option value="Puma">Puma</option> 
              <option value="Reebok">Reebok</option> 
             </select>
          </div>
           <div class="control-formulario"> <!--este campo contiene el menu desplegable-->
            <label>Talle:</label> 
             <select name="size" class="control"> <!--el name es solo para el Backend-->
              <option value="Small">S</option> <!--el value es para q el backend identifique de que se trata-->
              <option value="Medium">M</option>
              <option value="Large">L</option>
              <option value="Extra-Large">XL</option>
             </select>
          </div>
          <div class="control-formulario">
            <label>Descripcion:</label> <!--aca van los comentarios-->
            <textarea name="description" class="control"></textarea>
          </div>
          <div class="control-formulario">
            <label>Foto del Producto:</label>
            <input type="file" name="image" placeholder="IMAGEN" class="control">
          </div>
          <div class="control-formulario">
            <div class="radio-button-container" >
              <label>Esta en Oferta:</label>
              <input type="radio" name="sale" class = "radio-button__radio">
            </div>
          </div>
          <div class="control-formulario">
            <div class="radio-button-container" >
              <label>Nueva Temporada:</label>
              <input type="radio" name="newseason" class = "radio-button__radio">
            </div>
          </div>
          <button type="submit" class="botton-form">Crear Producto</button> <!--aca van los botones-->
      </form>




    <%- include("../partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->

</body>
</html>