<!DOCTYPE html>
<html lang="en">

  <%- include("../partial/head.ejs",{cssfile:"style-productList"}) %> <!--cssfile es una variable que va a guardar la hoja de estilo-->
<body>
    <%- include("../partial/header.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->

   <main>
     <section class="mainSectionList">
       <h2>Todos los productos</h2>
       <div class="listaProductos">
         <article class="producto">
           <a href=""></a>
           <img src="/img/pelota-nike.jpg" alt="">
           <div class="detalle">
             <p>Precio</p>
             <p>Descuento</p>
             <h3 class="descripcionArticulo">Descripcion Articulo</h3>
           </div>
         </article>

         <article class="producto">
          <a href=""></a>
          <img src="/img/pelota-adidas.jpg" alt="">
          <div class="detalle">
            <p>Precio</p>
            <p>Descuento</p>
            <h3 class="descripcionArticulo">Descripcion Articulo</h3>
          </div>
        </article>

        <article class="producto">
          <a href=""></a>
          <img src="/img/pelota-penalty.jpg" alt="">
          <div class="detalle">
            <p>Precio</p>
            <p>Descuento</p>
            <h3 class="descripcionArticulo">Descripcion Articulo</h3>
          </div>
        </article>

        <article class="producto">
          <a href=""></a>
          <img src="/img/Guantes-arquero-topper.jpg" alt="">
          <div class="detalle">
            <p>Precio</p>
            <p>Descuento</p>
            <h3 class="descripcionArticulo">Descripcion Articulo</h3>
          </div>
        </article>
       </div>
     </section>
   </main>








    <%- include("../partial/footer.ejs") %> <!--Aca estoy reutilizando codigo gracias a ejs-->
</body>
</html>