<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apolo</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/98eaad93ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/lightslider.css"> <!--es para hacer el slider-->
    <link rel="stylesheet" href="/css/<%= cssfile%>.css">
    <script type="text/javascript" src="js/jquery.min.js"></script> <!--es para hacer el slider-->
    <script type="text/javascript" src="js/lightslider.js"></script> <!--es para hacer el slider-->
  </head>