<header class="header-content">
    <div class="main-header-top">
      <div class="truck">
        <i class="fas fa-truck"></i>
        <h2>Envios Gratis</h2>
      </div>
      <h2>Para Compras Mayores a $10000</h2>
    </div>

    <div class="main-header">
      <div class="main-header-top-bar">
        <span><a class="inicio" href="/user/login">ACCEDER</a></span>
        <div>
          <a href="#" class="hamburger-button">
            <i class="fas fa-bars"></i>
            <!--lo traigo de font awesome-->
          </a>
        </div>
        <a href="/">
          <div class="apolo-logo">
            <img src="/img/logo_small-pelota.png" class="logo">
          </div>
        </a>
        <div class="box-3">
          <form>
            <div class="barra">
              <input type="text" nombre="search-bar" placeholder="Que estas buscando?" class="search-bar-bar">
              <button type="submit" class="botton-form-login"><i class="fas fa-search"></i></button>
            </div>
          </form>
          <div class="main-buy">
            <a href="/product/productCart">
              <div>
                <i class="fas fa-cart-arrow-down carrito"></i>
              </div>
            </a>
          </div>
        </div>
      </div>


      <nav class="main-navbar">
        <!--aca en esta fila genero una barra de vavegacion-->
        <ul class="navbar">
          <li><a href="#">HOMBRES</a></li>
          <li><a href="#">MUJERES</a></li>
          <li><a href="./product/productList">TODOS LOS PRODUCTOS</a></li>
          <li><a href="#">NUEVA TEMPORADA</a></li>
          <li><a href="#"> SUPER OFERTAS</a></li>
        </ul>

      </nav>
    </div>

  </header>